# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
frontend/node_modules/

# Build
frontend/dist/
dist/
build/

# Streamlit
.streamlit/

# Large datasets
complaints_processed.csv
complaints_clean.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log